{% extends "base.html" %}
{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center red-text text-lighten-2 ">Image Uploads</h1>
    <div class="row center">
      <h5 class="header col s12 light">画像をアップロードしてクリスマスマップを完成させよう</h5>
    </div>
    <div class="row center">
      <a href="/result" id="download-button" class="btn-large waves-effect waves-light red lighten-2">Get Result</a>
    </div>
    <br><br>

  </div>
</div>
<form method="post" action="/send" enctype="multipart/form-data">
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file" id="img_file" name="img_file" multiple>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text"  placeholder="Upload one or more files">
    </div>
  </div>
  <div class="input-field col s12">
    <p>場所を選択してください</p>
  <select class="browser-default" id="place", name="place">
    <option value="新宿"　disabled selected>新宿</option>
    <option value="原宿">原宿</option>
    <option value="六本木">六本木</option>
  </select>

</div>
  <button class="btn waves-effect waves-light" type="submit">Submit
  <i class="material-icons right">send</i>
</button>
</form>
{{place}}
{% if img_url %}
<p><img src="{{ img_url }}"></p>
{% endif %}
<script>
  $(function() {
    $(document).ready(function() {
      $('select').material_select();
    });
  });
</script>

{% endblock %}
