{% extends "base.html" %}
{% block content %}
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAQQA7YoygNbc-8FLMcF3sEeei1uvkJS40"></script>


<form method="post" action="/send" enctype="multipart/form-data">
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file" id="img_file" name="img_file" multiple>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text"  placeholder="Upload one or more files">
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Submit
  <i class="material-icons right">send</i>
</button>
</form>
  {% if img_url %}
<p><img src="{{ img_url }}"></p>
<div id="map-canvas"></div>

<script>
var mapDiv = document.getElementById( "map-canvas" ) ;

var map = new google.maps.Map( mapDiv, {
center: new google.maps.LatLng( 35.7100, 139.8107),
zoom: 15,
} ) ;
</script>
  {% endif %}
{% endblock %}
